# packaging
pip>=9
setuptools>=26

# data science
numpy
pandas
scikit-learn

# data viz
matplotlib
seaborn

# API
gcsfs
google-cloud-storage
s3fs
google-cloud-bigquery[pandas]
fastapi
typing
pydantic
starlette
uvicorn
